/*
#ad343e Cardinal
#474747 Davys Gray
#f2af29 Honey Yellow
#000000 Black
#e0e0ce Eggshell
*/

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html {
	height: 100%;
	font-size: 16px;
	font-family: Mukta, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1rem;
	color: #000000;
	background-color: #e0e0ce;
}

header {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #000000;
	flex-wrap: wrap;
}

header h1 {
	width: 100%;
}

header a {
	color: #000000;
	padding: 1rem;
	display: inline-block;
}

footer {
	margin-top: auto;
	margin-bottom: 1rem;
}

.card {
	border: 1px solid #474747;
	border-radius: 1rem;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	color: #e0e0ce;
	text-decoration-style: none;
	background-color: #474747;
}

.card img {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

@media only screen and (min-width: 600px) {
	header {
		justify-content: space-between;
	}

	header h1 {
		width: unset;
	}
}
