html {
	height: 100%;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1rem;
}

footer {
	margin-top: auto;
	margin-bottom: 1rem;
}
